h1 {
    font-family: 'Great Vibes', cursive;
    font-family: 'Gwendolyn', cursive;
    text-align: center;
    font-size: 300%;
}

p {
    text-align: center;
}

img {
    border-style: double;
    }