h1 {
    font-family: 'Great Vibes', cursive;
    font-family: 'Gwendolyn', cursive;
    text-align: center;
    font-size: 350%;
}

p {
    text-align: left;
}

img {
    border-style: double;
    margin: auto;
    display: block;
    width: 20%;
    height: 20%;
    }

a: webkit-any-link {
    color: green;
    cursor: pointer;
    text-decoration: underline;
}

#title {
    text-align: center;
}